.Product {
    display : flex;
    flex-direction: row;
    max-height:600px ;
    max-width: 450px;
    align-items: center;
    margin : 10px;
    z-index: 1;
    margin-bottom: 230px;
    background-image: white;
    -webkit-box-shadow: 7px 20px 20px -9px rgba(79,69,79,0.61);
    -moz-box-shadow: 7px 20px 20px -9px rgba(79,69,79,0.61);
    box-shadow: 7px 20px 20px -9px rgba(79,69,79,0.61);
    border: 1px solid;
}
.Product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    width: 50%;

}
.Product_div {
    margin : 10px;

}
.product_price {
    margin-top : 5px;
}
.Product  button {
    background-color: #f0c14b;
    border: 1px solid;
    margin: 20px;
    width: 80%;
    height : 100%;

}
